{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {

    "func-names":                   0,
    "no-multi-spaces":              0,
    "no-mixed-operators":           0,
    "react/require-default-props":  0,
    "react/jsx-filename-extension": 0,

    "max-len":                      ["warn", 128],
    "react/jsx-curly-spacing":      ["warn", "always"],
    "template-curly-spacing":       ["warn", "always"],
    "space-before-function-paren":  ["warn", "never"],
    "padded-blocks":                ["warn", "always"],
    "arrow-body-style":             ["warn", "as-needed"],
    "arrow-parens":                 ["warn", "always"],

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],

    "space-in-parens": ["warn", "always", {
      "exceptions": ["{}", "[]", "empty"]
    }],

    "key-spacing": [ 2, {
      "align": "value"
    }],

    "array-bracket-spacing": [ 2, "always", {
      "objectsInArrays": false,
      "arraysInArrays":  false
    }]

  }
}
