[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = http://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = http://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = http://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/fzf"]
	path = zsh/plugins/fzf
	url = http://github.com/junegunn/fzf
[submodule "vim/pack/plugins/start/delimitmate"]
	path = vim/pack/plugins/start/delimitmate
	url = http://github.com/raimondi/delimitmate
[submodule "vim/pack/plugins/start/html5.vim"]
	path = vim/pack/plugins/start/html5.vim
	url = http://github.com/othree/html5.vim
[submodule "vim/pack/plugins/start/nord-vim"]
	path = vim/pack/plugins/start/nord-vim
	url = http://github.com/arcticicestudio/nord-vim
[submodule "vim/pack/plugins/start/php.vim"]
	path = vim/pack/plugins/start/php.vim
	url = http://github.com/stanangeloff/php.vim
[submodule "vim/pack/plugins/start/vim-blade"]
	path = vim/pack/plugins/start/vim-blade
	url = http://github.com/jwalton512/vim-blade
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = http://github.com/tpope/vim-commentary
[submodule "vim/pack/plugins/start/vim-context-commentstring"]
	path = vim/pack/plugins/start/vim-context-commentstring
	url = http://github.com/suy/vim-context-commentstring
[submodule "vim/pack/plugins/start/vim-easy-align"]
	path = vim/pack/plugins/start/vim-easy-align
	url = http://github.com/junegunn/vim-easy-align
[submodule "vim/pack/plugins/start/vim-endwise"]
	path = vim/pack/plugins/start/vim-endwise
	url = http://github.com/tpope/vim-endwise
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/start/vim-indent-object"]
	path = vim/pack/plugins/start/vim-indent-object
	url = http://github.com/michaeljsmith/vim-indent-object
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = http://github.com/pangloss/vim-javascript
[submodule "vim/pack/plugins/start/vim-repeat"]
	path = vim/pack/plugins/start/vim-repeat
	url = http://github.com/tpope/vim-repeat
[submodule "vim/pack/plugins/start/vim-sh-indent"]
	path = vim/pack/plugins/start/vim-sh-indent
	url = http://github.com/chrisbra/vim-sh-indent
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = http://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = http://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/plugins/start/vim-vinegar"]
	path = vim/pack/plugins/start/vim-vinegar
	url = http://github.com/tpope/vim-vinegar
[submodule "vim/pack/plugins/start/vim-vue"]
	path = vim/pack/plugins/start/vim-vue
	url = http://github.com/posva/vim-vue
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "zsh/plugins/nord-dircolors"]
	path = zsh/plugins/nord-dircolors
	url = http://github.com/arcticicestudio/nord-dircolors
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = http://github.com/sirver/ultisnips
