#
# CSS Snippets
#

snippet / "comment block"
/**
 * ${VISUAL}$0
 */
endsnippet

snippet @ff "@font-face"
@font-face {
    font-family: ${1:'font'};
    src: url('${2:file}.${3:woff2}') format('$3');
         url('$2.${4:woff}') format('$4');
    font-weight: ${5:normal};
    font-style: ${6:normal};
}
endsnippet

snippet @mq "@media-query"
@media ${1:screen} and (${2:max-width}: ${3:600px}) {
    $0
}
endsnippet
