#
# HTML Snippets
#

snippet ! "<DOCTYPE>"
<!DOCTYPE html>
endsnippet

snippet < "<tag>" b
<${1:tag}>
    ${0:${VISUAL}}
</${1/^([a-zA-Z\-]*)\s*.*/$1/}>
endsnippet

snippet <> "<tag> inline" i
<${1:tag}>${0:${VISUAL}}</${1/^([a-zA-Z\-]*)\s*.*/$1/}>
endsnippet

snippet </ "<tag> self closing" i
<${1:tag} />
endsnippet
