#
# Vue Snippets
#

extends html, css, javascript

snippet <sc "vue <script>" b
<script>

export default {
    ${0:${VISUAL}}
}

</script>
endsnippet

snippet <st "vue <style>" b
<style ${1: lang="scss"} scoped>

${0:${VISUAL}}

</style>
endsnippet
