snippet section "@section"
@section('$1')
	${2:${VISUAL}}
@endsection
endsnippet

snippet foreach "@foreach"
@foreach ($1)
	${2:${VISUAL}}
@endforeach
endsnippet

snippet if "@if"
@if ($1)
	${2:${VISUAL}}
@endif
endsnippet
