#
# Markdown
#

snippet link "link" w
[${1:${VISUAL:text}}](${2:http://${3:url}})
endsnippet

snippet img "image"
![${1:alt}](${2:path})
endsnippet

snippet * "italics"
*${0:${VISUAL}}*
endsnippet

snippet ** "bold"
**${0:${VISUAL}}**
endsnippet

snippet *** "bold italic"
***${0:${VISUAL}}***
endsnippet

snippet ``` "code block" b
\`\`\`
${0:${VISUAL}}
\`\`\`
endsnippet
