[user]
    name = Liam Butterworth
    email = account@liambutterworth.me
[core]
    editor = vim
[credential]
    helper = cache
[alias]
    ctags = !.git/hooks/ctags
    root = !cd $(git rev-parse --show-toplevel) && echo $(pwd)
[init]
    templatedir = ~/.dotfiles/env/git/template
